
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #324B4C;
  background-color: #E6EEEF;
}
nav{
  grid-area: nav;
}

main{
  max-width: 100%;
}

.whiteText{
  color: white;
  font-weight: 400;
}

a{
  color: #324B4C
}
a:link, a:visited{
  color: white;
  text-decoration: none;
}
a:hover{
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.homeText{
  grid-area: home;
  font-size: 38px;
  font-weight: 500; 
  color: #03989E;
}

.projectText{
  font-size: 25px;
  font-weight: 400;
  color: #324B4C;
}

.projects{
  flex-wrap: wrap;
}

.project{
  border: 10px ;
  border-radius: 20px;
  padding-left: 0;
  padding-right: 0;
}

h5{
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 5px;
  padding-left: 15px;
}

.photo{
  border: 10px ;
  border-radius: 25px;
  padding-left: 0px;
  padding-right: 0px;
}
.sidebarContainer{
  width: 25%;
}
#sidebar{
  border: 10px ;
  border-radius: 0px 80px 0px 0px;
  background: #03989E;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 50px;
}
#insideSidebar, #bottomSidebar{
  background: #03989E;
  
}
#bottomSidebar{
  display: flex;
  align-items: end;
  min-height: 100vh;
}

ul{
  background: #03989E;
  padding-left: 30px;
}

li{
  background: #03989E;
  list-style: none;
  padding-bottom: 60px;
}
.logo, .profile{
  height: 75%;
} 

.homeSideText{
  background: #03989E;
  font-weight: 500;
  color: white;
  padding-bottom: 60px;
  margin-left: 0px;
}

.projectsSideText{
  background: #03989E;
  padding-bottom: 60px;
  padding-left: 0px;
}

p, .projectText, .homeText{
  padding-left: 15px;
}

#tableBody th, td, tr{
  background: #fff;
}
#tableBody img{
  background: #fff;
}
.homeContainer, .sidebarContainer{
  float: left;
}

.homeContainer{
  width: 75%;
  height: 100%;
}

/*Mobile View*/
@media only screen and (max-width: 768px){
  .homeContainer{
    float: none;
    width: 100%;
  }
  .sidebarContainer{
    float: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #sidebar{
    border: 10px solid #03989E;
    border-radius: 15px;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03989E;
  }
  #insideSidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    border: 10px;
    border-radius: 10px;
    min-height: 100%;
    background-color: #03989E;
    height: 100%;
  }
  .homeSideText, .projectsSideText{
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
  }
  .homeSideText{
    padding-right: 20px;
    padding-left: 20px;
  }
  main{
    max-width: 100%;
  }
  ul{
    display: none;
    padding-left: 0px;
  }

  /*Accordion*/
  li{
    display: none;
    padding-bottom: 0;
  }

  #bottomSidebar{
    display: none;
  }
  .homeText{
    display: none;
  }
  .photo{
    display: flex;
    justify-content: center;
    height: 350px;
    width: 100%;
  }
  
}
  

@media only screen and (max-width: 576px){
  .photo{
    display: flex;
    justify-content: center;
    height: 75%;
    width: 100%;
  }
  .logo, .profile{
    height: 50%;
  } 
  .homeSideText, .projectsSideText{
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .projectText{
    padding-left: 15px;
    font-size: 20px;
  }
  p{
    font-size: 14px;
  }
  #sidebar{
    height: 100%;
  }
  .sidebarContainer{
    display: flex;
  }
  .homeSideText, .projectsSideText{
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
  }
  .homeSideText{
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 425px){
  .photo{
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
  }
  .projectText{
    padding-left: 15px;
    font-size: 12px;
  }
  p{
    font-size: 10px;
  }
  #sidebar{
    background: #03989E;
    height: 100%; 
    display: flex;
  }
  .sidebarContainer{
    display: flex;
  }
  .homeSideText, .projectsSideText{
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
  }
  .homeSideText{
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 380px){
  .photo{
    height: 120px;
    width: 100%;
  }
  #sidebar{
    height: 100%; 
    display: flex;
  }
  .sidebarContainer{
    display: flex;
  }
  .homeSideText, .projectsSideText{
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
  }
  .homeSideText{
    padding-right: 20px;
    padding-left: 20px;
  }
}


/*CAFE PAGE*/
.cafeContainer{
  background-color: #E6EEEF;
}
.projectHead{
  font-size: 38px;
  font-weight: 500;
}
#tableContainer{
  width: 75%;
}
#tableHead th{
  background-color: #324B4C;
  color: white;
}
#tableHead th:first-child{
  border-top-left-radius: 15px;
}
#tableHead th:last-child{
  border-top-right-radius: 15px;
}
#tableHeadMobile{
  display: none;
}

.cafeSidebar{
  width: auto;
  border: 10px solid #03989E;
  background: #03989E;
  border-radius: 15px;
  padding-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#insideCafeSidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border: 10px;
  border-radius: 10px;
  min-height: 100%;
  background-color: #03989E;
  height: 100%;
}
.homeCafeSideText{
  background-color: #03989E;
  margin-left: 16px;

} 
.projectsCafeSideText{
  background-color: #03989E;
  margin-left: 16px;
  margin-right: 16px;
}

@media only screen and (max-width: 576px){

  /*Adjustment for mobile resposive table*/
  .table, .projectHead{
    padding-right: 16px;
    padding-left: 16px;
  }
  .projectHead{
    font-size: 25px;
  }
  .thead{
    display: flex;
    justify-content: center;
  }
  #tableHead{
    display: none;
  }
  #tableHeadMobile{
    display: flex;
    text-align: center;
    width: 100%;
    background-color: #E6EEEF;
    padding-right: 16px;
    padding-left: 16px;
  }
  #tableHeadMobile th{
    background-color: #324B4C;
    color: white;
  }
  #tableHeadMobile th:first-child{
    border-top-left-radius: 15px;
  }
  #tableHeadMobile th:last-child{
    border-top-right-radius: 15px;
  }
  .table, .table tbody, .table td{
    display: block;
    width: 100%;
  }
  .table tr{
    min-height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100vw;
    background-color: #fff;
  }
  .col{
    min-width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
  }
  .table th{
    width: 50%;
  }
  .table td{
    text-align: right;
    padding-left: 50%;
    text-align: right;
    font-size: 12px;
    min-height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

}

/*Home Page*/


a:hover h5{
  color: #03989E;
  font-weight: 500;
  text-decoration: none;
}
.constImg{
  width: 75%;
}

/*Modal*/
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}